:root {
    --color-1: #ffffff;
    --color-2: #ffddd2;
    --color-3: #f3cfc4;
    --color-4: #00000067;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
  }
  
html {
    font-size: 62.5%;}

.conteiner {
    display: flex;
    flex-wrap: wrap;
} 

.header {
    background-color: #fdfdfd00;
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.box-header-izquierda {
    width: 50%;
    min-width: 150px;
    height: 110px;
    border-bottom: 4px solid var(--color-3);
    border-top: 4px solid var(--color-3);
	background: linear-gradient(-25deg, #ffc8c8, #ffdcdc, #fcf8fa, #ffffff);
	background-size: 400%;
	animation: gradient 15s ease infinite;
    position: absolute;
}

.box-header-derecha {
    background-color: #ffffff;
    width: 50%;
    min-width: 150px;
    height: 110px;
    border-bottom: 4px solid var(--color-3);
    border-top: 4px solid var(--color-3);
	background: linear-gradient(-25deg, #ffffff, #fcf8fa, #ffdcdc, #ffc8c8);
	background-size: 400%;
	animation: gradient 15s ease infinite;
    position: absolute;
    margin-left: 50%;
}

.promo-gif {
    width: 70%;
    margin-top: 11%;
    margin-left: 15%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.boton-icono-principal {
    background-color: #fdfdfd00;
    border: 0px;
}

.icono-principal {
    width: 36%;
    width: 70px;
    margin-top: 30%;
    margin-left: 9%;
}



.box-central {
    background-color: #fac6c600;
    width: 97%;
    min-width: 200px;
    height: 460px;
    margin-top: 0%;
    margin-left: 1%;
    border: 2px solid rgba(0, 0, 0, 0.007);
}

.contenedor-categorias {
    background-color: #eff0efbe;
    width: 97%;
    min-width: 50px;
    height: 20px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3%;
}

.texo-contenedor-categorias {
    font-size: 140%;
    margin-left: 32%;
}

.contenedor-item1 {
    background-color: #ffd6d6a1;
    width: 97%;
    min-width: 200px;
    height: 130px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid black;
    border-radius: 3%;
}

.contenedor-item1-foto {
    background-color: #ffffff;
    width: 30%;
    min-width: 50px;
    height: 120px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    border-radius: 3%;
}

.remera-mujer {
    width: 100%;
    margin-left: -3%;
}

.contenedor-cantidades {
    background-color: #ffffff;
    width: 31%;
    min-width: 80px;
    height: 40px;
    margin-top: 13%;
    margin-left: 36%;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    border-radius: 3%;
}

.texto-cantidades {
    font-size: 110%;
    margin-top: 13%;
    margin-left: 5%;
    position: absolute;
}

.input-cantidades {
    width: 1%;
    min-width: 29px;
    margin-top: 10%;
    margin-left: 67%;
    position: absolute;
}

.contenedor-precios {
    background-color: #ffffff;
    width: 20%;
    min-width: 50px;
    height: 30px;
    margin-top: 14.5%;
    margin-left: 70%;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    border-radius: 3%;
}

.input-precio {
    width: 90%;
    min-width: 10px;
    height: 10%;
    min-height: 23px;
    margin-top: 3%;
    margin-left: 2%;
    position: absolute;
} 


.contenedor-item2 {
    background-color: #ffd6d6a1;
    width: 97%;
    min-width: 200px;
    height: 130px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid black;
    border-radius: 3%;
}

.pantalon-mujer {
    width: 50%;
    margin-left: 20%;
}

.contenedor-item3 {
    background-color: #ffd6d6a1;
    width: 97%;
    min-width: 200px;
    height: 130px;
    margin-top: 1%;
    margin-left: 1%;
    border: 1px solid black;
    border-radius: 3%;
}

.collar-mujer{
    width: 75%;
    margin-left: 10%;
}

.box-precio-subtotal {
    background-color: #ffd6d6a1;
    width: 33%;
    min-width: 100px;
    height: 5%;
    margin-left: 65%;
    margin-top: 1%;
    border:1px solid #000000f5;
    border-radius: 3%;
}

.input-subtotal {
    width: 11%;
    min-width: 10px;
    margin-top: -4.8%;
    margin-left: 19.8%;
    position: absolute;
    
}

.input-envio {
    width: 11%;
    min-width: 10px;
    margin-top: -4.8%;
    margin-left: 19.8%;
    position: absolute;
    
}

.input-total {
    width: 11%;
    min-width: 10px;
    margin-top: -4.8%;
    margin-left: 19.8%;
    position: absolute;
}

.texto-subtotal {
    font-size: 150%;
    margin-top: 3%;
}

.box-redes-sociales {
    background-color: #e9161600;
    width: 10%;
    min-width: 140px;
    height: 250px;
    margin-top: 5%;
    position: relative;
}

.icono-instagram {
    width: 27%;
    margin-left: 10.9%;
    margin-top: 90%;
    position: absolute;
}

.icono-facebook {
    width: 57%;
    margin-left: -3.8%;
    margin-top: 35%;
    position: absolute;
}

.icono-twitter {
    width: 57%;
    margin-left: -3.8%;
    margin-top: -5%;
    position: absolute;
}


.box-forma-de-pagos {
    background-color: #eff0efbe;
    width: 60%;
    min-width: 140px;
    height: 50%;
    min-height: 115px;
    margin-top: 20%;
    margin-left: 37%;
    position: relative;
    border: 1px solid black;
}

.texto-formas-de-pago {
    font-size: 150%;
    font-weight: 600;
    margin-top: 2.5%;
    margin-left: 27%;
}

.box-visa {
    background-color: rgba(238, 5, 5, 0);
    width: 20%;
    height: 3%;
    margin-left: 12%;
    margin-top: -3.7%;
    position: absolute;
}

.icono-visa-formas-de-pago {
    width: 90%;
    margin-top: -10.8%;
    margin-left: 10%;
    position: absolute;
}

.box-mastercard {
    background-color: rgba(238, 5, 5, 0);
    width: 18%;
    height: 3%;
    margin-left: 45%;
    margin-top: -2.7%;
    position: absolute;
}

.icono-mastercard-formas-de-pago {
    width: 90%;
    margin-top: 0%;
    margin-left: 0%;
    position: absolute;
}

.box-tarjeta-naranja {
    background-color: rgba(238, 5, 5, 0);
    width: 22%;
    height: 3%;
    margin-left: 69%;
    margin-top: -0.7%;
    position: absolute;
}

.icono-tarjeta-naranja-formas-de-pago{
    width: 110%;
    margin-top: -17.9%;
    margin-left: 0%;
    position: absolute;
}

.box-tarjeta-american-express {
    background-color: rgba(238, 5, 5, 0);
    width: 20%;
    height: 3%;
    margin-left: 13%;
    margin-top: 7.7%;
    position: absolute;
}

.icono-tarjeta-american-express-formas-de-pago{
    width: 100%;
    margin-top: -15.6%;
    margin-left: 0%;
    position: absolute;
}

.box-rapipago {
    background-color: rgba(238, 5, 5, 0);
    width: 22%;
    height: 3%;
    margin-left: 38%;
    margin-top: 13.7%;
    position: absolute;
}

.icono-rapipago-formas-de-pago{
    width: 140%;
    margin-top: -10.6%;
    margin-left: 0%;
    position: absolute;
}

.box-pagofacil {
    background-color: rgba(238, 5, 5, 0);
    width: 22%;
    height: 3%;
    margin-left: 38%;
    margin-top: 13.7%;
    position: absolute;
}

.icono-pagofacil-formas-de-pago{
    width: 50%;
    margin-top: -19.5%;
    margin-left: 180%;
    position: absolute;
}

.box-mercadopago {
    width: 12%;
    margin-top: 20.5%;
    margin-left: 47%;
    position: absolute;
}

.icono-mercado-pago-formas-de-pago{
    width: 100%;
    margin-top: -27.9%;
    margin-left: 0%;
    position: absolute;
}

.footer {
    background-color: var(--color-3);
    width: 100%;
    min-width: 140px;
    height: 110px;
    margin-top: -4%;
}

.Texto-del-footer {
    font-size: 100%;
    font-weight: 600;
    margin-top: 7.6%;
    margin-left: 3%;
}


