:root {
    --color-1: #ffffff;
    --color-2: #ffddd2;
    --color-3: #f3cfc4;
    --color-4: #00000067;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
  }
  
html {
    font-size: 62.5%;}

.conteiner {
    display: flex;
    flex-wrap: wrap;
} 

.header {
    background-color: #fdfdfd00;
    width: 100%;
    min-width: 150px;
    height: 150px;
}

.box-header-izquierda {
    width: 50%;
    min-width: 150px;
    height: 110px;
    border-bottom: 4px solid var(--color-3);
    border-top: 4px solid var(--color-3);
	background: linear-gradient(-25deg, #ffc8c8, #ffdcdc, #fcf8fa, #ffffff);
	background-size: 400%;
	animation: gradient 15s ease infinite;
    position: absolute;
}


.boton-icono-principal {
    background-color: #fdfdfd00;
    border: 0px;
}

.icono-principal {
    width: 36%;
    width: 70px;
    margin-top: 30%;
    margin-left: 9%;
}

.box-header-derecha {
    background-color: #ffffff;
    width: 50%;
    min-width: 150px;
    height: 110px;
    border-bottom: 4px solid var(--color-3);
    border-top: 4px solid var(--color-3);
	background: linear-gradient(-25deg, #ffffff, #fcf8fa, #ffdcdc, #ffc8c8);
	background-size: 400%;
	animation: gradient 15s ease infinite;
    position: absolute;
    margin-left: 50%;
}

.descuento-gif {
    width: 60%;
    margin-top: 12%;
    margin-left: 20%;
    border-radius: 10%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.box-central {
    background-color: #fac6c600;
    width: 40%;
    min-width: 100px;
    height: 300px;
    margin-left: 1%;
}

.box-navbar-secciones-izquierda {
    background-color: #e0341600;
    width: 10%;
    min-width: 140px;
    height: 390px;
    margin-top: 0%;
}

ul
{
margin:0px;
padding:0px;
list-style-type:none;
-webkit-backface-visibility: hidden; backface-visibility: hidden;  
}
.var_nav
{
position:relative;
background:#ccc; 
width:100%;
height:30px;
margin-bottom:5px;
margin-top: 2%;
}
.link_bg
{
 width:20px;
 height:30px;
 position:absolute;
 background:var(--color-2);
 color:#fff;
 z-index:2;
}
.link_bg i
{
 position:relative;
}
.link_title
{
position:absolute;
width:100%;
z-index:3;
color:#fff;
}
.link_title:hover .icon
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);  
}
.var_nav:hover .link_bg
{
width:100%;
background:var(--color-2);
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav:hover a
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}
.icon
{
position:relative;
width:70px;
height:70px;
text-align:center;
color:#fff;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;   
float:left;  
}
.icon i{top:22px;position:relative;}
a{
display:block;
position:absolute;
float:left;
font-family:arial;
color:#fff;
text-decoration:none;
width:100%;
height:70px;
text-align:center;
font-size: 119%;
margin-left: 6%;
}
span
{
margin-top:10px;
display:block;
}


.box-catalogo{
    background-color: #ff1f1f00;
    width: 98%;
    min-width: 100px;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    position: absolute;
}

.marco-item1 {
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: -104%;
    min-height: 100px;
    margin-left: 45%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisa-1 {
    width: 170%;
    margin-left: -30%;
}

.precio-item-1 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top: 19%;
    margin-left: 24%;
}

.marco-item2{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 10%;
    min-height: 100px;
    margin-left: 75%;
    margin-top: -104%;
    border: 2px solid black;
    position:absolute;
}

.imagen-camisas-2 {
    width: 94%;
    min-width: 81px;
    height: 100%;
    min-height: 40px;
    margin-left: 0%;
}

.precio-item-2 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top: 3%;
    margin-left: 24%;
    position:absolute;
}

.marco-item3{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    min-height: 100px;
    margin-left: 75%;
    margin-top: -66%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisa-3 {
    width: 100%;
    margin-left: 0%;
}

.precio-item-3 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top: 26%;
    margin-left: 24%;
    position:absolute;
}

.marco-item4{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: -66%;
    min-height: 100px;
    margin-left: 45%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisas-4 {
    width: 100%;
    min-height: 50px;
    height: 100%;
    min-height: 50px;
    margin-left: -10%;
}

.precio-item-4 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top: 4%;
    margin-left: 24%;
    position:absolute;
}


.marco-item5{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    min-height: 100px;
    margin-left: 75%;
    margin-top: -26%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisa-5 {
    width: 130%;
    margin-left: -10%;
    margin-top: -3%;
}

.precio-item-5 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.marco-item6{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: -26%;
    min-height: 100px;
    margin-left: 45%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisa-6 {
    width: 79.5%;
    margin-left: 9%;
}


.precio-item-6 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.box-gif-propaganda-camisa {
    background-color: #b6985f00;
    width: 5%;
    min-width:130px;
    height: 3%;
    min-height: 150px;
    margin-left: 2%;
    margin-top: -15%;
}

.gif-propaganda-camisa {
    width: 100%;
}


.marco-item7{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: -11%;
    min-height: 100px;
    margin-left: 75%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisa-7 {
    width: 93.1%;
    min-width: 80px;
    height: 100%;
    margin-left: -0.3%;
}

.precio-item-7 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.marco-item8 {
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: -11%;
    min-height: 100px;
    margin-left: 45%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisa-8 {
    width: 100%;
    min-width: 40px;
    height: 100%;
    margin-left: 0%;
    margin-top: -5%;
}


.precio-item-8 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.marco-item9 {
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: 27%;
    min-height: 100px;
    margin-left: 45%;
    border: 2px solid black;
    position: absolute;
}

.imagen-camisa-9 {
    width: 90%;
    min-width: 40px;
    height: 100%;
    margin-left: 3%;
    margin-top: 0%;
}

.precio-item-9 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.marco-item10{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: 27%;
    min-height: 100px;
    margin-left: 75%;
    border: 2px solid black;
    position: absolute;
}


.imagen-camisa-10 {
    width: 90%;
    min-width: 40px;
    height: 100%;
    margin-left: 3%;
    margin-top: 0%;
}

.precio-item-10 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.marco-item11{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: 67%;
    min-height: 100px;
    margin-left: 75%;
    border: 2px solid black;
    position: absolute;
}


.imagen-camisa-11 {
    width: 100%;
    min-width: 80px;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
}

.precio-item-11 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.marco-item12{
    background-color: #ffffff;
    width: 5%;
    min-width: 80px;
    height: 3%;
    margin-top: 67%;
    min-height: 100px;
    margin-left: 45%;
    border: 2px solid black;
    position: absolute;
}


.imagen-camisa-12 {
    width: 100%;
    min-width: 80px;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
}

.precio-item-12 {
    background-color: #fcbfbf67;
    border-radius: 5%;
    border: 1px solid black;
    width: 55%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 140%;
    margin-top:10%;
    margin-left: 24%;
    position:absolute;
}

.box-gif-propaganda-camisa-2 {
    background-color: #b6985f00;
    width: 10%;
    min-width: 200px;
    height: 16%;
    min-height: 140px;
    margin-left: 45%;
    margin-top: 120%;
}

.box-ilustracion-moda {
    background-color: #b6985f00;
    width: 55%;
    min-width: 140px;
    height: 8%;
    min-height: 30px;
    margin-left: -20%;
    margin-top: -90%;
}

.gif-jeans {
    width: 100%;
}

.ilustracion-moda {
    width: 100%;
}

.gif-propaganda-jeans {
    width: 100%;
}

.box-redes-sociales {
    background-color: #e9161600;
    width: 10%;
    min-width: 140px;
    height: 250px;
    margin-top: 130%;
    position: absolute;
}

.icono-instagram {
    width: 20%;
    margin-left: 15.0%;
    margin-top: 70%;
    position: absolute;
}

.icono-facebook {
    width: 40%;
    margin-left: 5.0%;
    margin-top: 80%;
    position: absolute;
}

.icono-twitter {
    width: 40%;
    margin-left: 5.0%;
    margin-top: 98%;
    position: absolute;
}


.box-forma-de-pagos {
    background-color: #eff0efbe;
    width: 60%;
    min-width: 140px;
    height: 50%;
    min-height: 115px;
    margin-top: 20%;
    margin-left: 37%;
    position: relative;
    border: 1px solid black;
}

.texto-formas-de-pago {
    font-size: 150%;
    font-weight: 600;
    margin-top: 2.5%;
    margin-left: 27%;
}

.box-visa {
    background-color: rgba(238, 5, 5, 0);
    width: 20%;
    height: 3%;
    margin-left: 12%;
    margin-top: -3.7%;
    position: absolute;
}

.icono-visa-formas-de-pago {
    width: 90%;
    margin-top: -10.8%;
    margin-left: 10%;
    position: absolute;
}

.box-mastercard {
    background-color: rgba(238, 5, 5, 0);
    width: 18%;
    height: 3%;
    margin-left: 45%;
    margin-top: -2.7%;
    position: absolute;
}

.icono-mastercard-formas-de-pago {
    width: 90%;
    margin-top: 0%;
    margin-left: 0%;
    position: absolute;
}

.box-tarjeta-naranja {
    background-color: rgba(238, 5, 5, 0);
    width: 22%;
    height: 3%;
    margin-left: 69%;
    margin-top: -0.7%;
    position: absolute;
}

.icono-tarjeta-naranja-formas-de-pago{
    width: 110%;
    margin-top: -17.9%;
    margin-left: 0%;
    position: absolute;
}

.box-tarjeta-american-express {
    background-color: rgba(238, 5, 5, 0);
    width: 20%;
    height: 3%;
    margin-left: 13%;
    margin-top: 7.7%;
    position: absolute;
}

.icono-tarjeta-american-express-formas-de-pago{
    width: 100%;
    margin-top: -15.6%;
    margin-left: 0%;
    position: absolute;
}

.box-rapipago {
    background-color: rgba(238, 5, 5, 0);
    width: 22%;
    height: 3%;
    margin-left: 38%;
    margin-top: 13.7%;
    position: absolute;
}

.icono-rapipago-formas-de-pago{
    width: 140%;
    margin-top: -6.6%;
    margin-left: 0%;
    position: absolute;
}

.box-pagofacil {
    background-color: rgba(238, 5, 5, 0);
    width: 22%;
    height: 3%;
    margin-left: 38%;
    margin-top: 13.7%;
    position: absolute;
}

.icono-pagofacil-formas-de-pago{
    width: 50%;
    margin-top: -19.5%;
    margin-left: 180%;
    position: absolute;
}

.box-mercadopago {
    width: 12%;
    margin-top: 24.5%;
    margin-left: 47%;
    position: absolute;
}

.icono-mercado-pago-formas-de-pago{
    width: 100%;
    margin-top: -27.9%;
    margin-left: 0%;
    position: absolute;
}

.footer {
    background-color: var(--color-3);
    width: 100%;
    min-width: 140px;
    height: 110px;
    margin-top: 190%;
    margin-left: -1%;
    position: absolute;
}

.Texto-del-footer {
    font-size: 110%;
    font-weight: 600;
    margin-top: 10%;
    margin-left: 5%;
    position: relative;
}




